@font-face {
  font-family: Hedvig Letters Sans;
  src: url(font/HedvigLettersSans-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(font/Merriweather-Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: rgb(170, 249, 222);
  padding: 10px 180px 7px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  width: 250px;
  object-fit: cover;
}
#navpart-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(4, 102, 102);
  overflow: hidden;
  position: relative;
}
.container {
  display: flex;
  color: #fff;
}
.page1-left {
  height: 100%;
  width: 50%;
  padding: 80px 110px;
}
.page1-left h1 {
  font-size: 6vw;
  font-family: Merriweather;
  margin-bottom: 30px;
  line-height: 6vw;
  letter-spacing: 5px;
}
.page1-left :nth-child(2) {
  margin-bottom: 30px;
}
.button {
  background-color: rgb(0, 53, 70);
  color: #fff;
  padding: 25px 30px;
  font-family: Hedvig Letters Sans;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  pointer-events: none;
  font-weight: 500;
  border: none;
  text-align: center;
}
.page1-left h4 {
  color: #c8c8c8;
  font-size: 1.8vw;
  font-family: Hedvig Letters Sans;
  font-weight: 100;
}
.page1-right {
  height: 100%;
  width: 50%;
}
.page1-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .page1-right .identity {
  color: white;
  height: 13vh;
  width: 10vw;
  background-color: rgba(228, 27, 27, 0.5);
  padding: 10px;
  box-sizing: border-box;
} */

.page1-right .identity h1 {
  margin: 0;
  font-size: 16px;
  font-family: Merriweather;
  font-weight: bold;
}

#page2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(200, 243, 252);
  display: flex;
  align-items: center;
}
.page2-left {
  height: 100%;
  width: 40%;
  /* background-color: rgb(232, 163, 163); */
  padding: 10vw 9vw;
}
.page2-right {
  height: 100%;
  width: 60%;
  background-color: rgb(177, 163, 232);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.page2-left h1 {
  font-size: 4vw;
  font-family: Merriweather;
  color: rgb(16, 82, 3);
  margin-bottom: 30px;
}
.page2-left h5 {
  font-size: 1.3vw;
  color: #656464;
  font-family: Hedvig Letters Sans;
}
.page2-right span {
  color: #000;
  font-family: Merriweather;
  font-weight:900;
  font-size: 1.4vw;
}
.page2-right .box1 {
    height: 300px;
    width: 400px;
    color: #6e6d6d;
    background-color: #fff;
    border-radius: 40px;
    margin: 20px;
   padding: 20px 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.page2-right .box2 {
    height: 300px;
    width: 400px;
    color: #6e6d6d;
    background-color: #fff;
    border-radius: 40px;
    margin: 20px;
   padding: 20px 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.page2-right .box3 {
    height: 300px;
    width: 400px;
    color: #6e6d6d;
    background-color: #fff;
    border-radius: 40px;
    margin: 20px;
   padding: 20px 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.page2-right .box4 {
    height: 300px;
    width: 400px;
    color: #6e6d6d;
    background-color: #fff;
    border-radius: 40px;
    margin: 20px;
    padding: 20px 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.page2-right h1 {
  font-size: 8vw;
  font-family: Hedvig Letters Sans;
  color: #bcbbbb;
}
.page2-right h5 {
  font-family: Hedvig Letters Sans;
  font-weight: 100;
}
#page3 {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(150, 229, 245); */
}
