@font-face {
  font-family: Hedvig Letters Sans;
  src: url(font/HedvigLettersSans-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(font/Merriweather-Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: rgb(170, 249, 222);
  padding: 10px 180px 7px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  width: 250px;
  object-fit: cover;
}
#navpart-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
/* *************************************************************** */
#page1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(4, 102, 102);
  overflow: hidden;
  position: relative;
}
.container {
  display: flex;
  color: #fff;
}
.page1-left {
  height: 100%;
  width: 50%;
  padding: 80px 110px;
}
.page1-left h1 {
  font-size: 6vw;
  font-family: Merriweather;
  margin-bottom: 30px;
  line-height: 6vw;
  letter-spacing: 5px;
}
.page1-left :nth-child(2) {
  margin-bottom: 30px;
}
.button {
  background-color: rgb(0, 53, 70);
  color: #fff;
  padding: 25px 30px;
  font-family: Hedvig Letters Sans;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-weight: 500;
  border: none;
  text-align: center;
  cursor: pointer;
}
.page1-left h4 {
  color: #c8c8c8;
  font-size: 1.8vw;
  font-family: Hedvig Letters Sans;
  font-weight: 100;
}
.page1-right {
  height: 100%;
  width: 50%;
}
.page1-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .page1-right .identity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1-right .identity #name {
  color: white;
  height: 13vh;
  width: 10vw;
  background-color: rgba(228, 27, 27, 0.5);
  padding: 10px;
  box-sizing: border-box;
}

.page1-right .identity #name h1 {
  margin: 0;
  font-size: 16px;
  font-family: Merriweather;
  font-weight: bold;
} */

/* ****************************************************************** */
#page2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(200, 243, 252);
  display: flex;
  align-items: center;
}
.page2-left {
  height: 100%;
  width: 40%;
  /* background-color: rgb(232, 163, 163); */
  padding: 10vw 9vw;
}
.page2-right {
  height: 100%;
  width: 60%;
  /* background-color: rgb(177, 163, 232); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.page2-left h1 {
  font-size: 4vw;
  font-family: Merriweather;
  color: rgb(16, 82, 3);
  margin-bottom: 30px;
}
.page2-left h5 {
  font-size: 1.3vw;
  color: #656464;
  font-family: Hedvig Letters Sans;
}
.page2-right span {
  color: #000;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.4vw;
}
.page2-right .box1 {
  height: 300px;
  width: 400px;
  color: #6e6d6d;
  background-color: #fff;
  border-radius: 40px;
  margin: 20px;
  padding: 20px 43px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.page2-right .box2 {
  height: 300px;
  width: 400px;
  color: #6e6d6d;
  background-color: #fff;
  border-radius: 40px;
  margin: 20px;
  padding: 20px 43px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.page2-right .box3 {
  height: 300px;
  width: 400px;
  color: #6e6d6d;
  background-color: #fff;
  border-radius: 40px;
  margin: 20px;
  padding: 20px 43px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.page2-right .box4 {
  height: 300px;
  width: 400px;
  color: #6e6d6d;
  background-color: #fff;
  border-radius: 40px;
  margin: 20px;
  padding: 20px 43px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.page2-right h1 {
  font-size: 8vw;
  font-family: Hedvig Letters Sans;
  color: #bcbbbb;
}
.page2-right h5 {
  font-family: Hedvig Letters Sans;
  font-weight: 100;
}
/* ****************************************************************** */
#page3 {
  width: 100%;
  height: 90vh;
  background-color: rgb(206, 219, 253);
}

#page3 h1 {
  text-align: center;
  font-size: 4vw;
  padding: 2vw 25vw;
  font-family: Merriweather;
}
.page3-container {
  width: 100%;
  /* height: 80%; */
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.page3-container img {
  font-size: 20px;
}
.text1 {
  width: 600px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 3vh 5vw;
}
.text2 {
  width: 600px;
  height: 300px;
  background-color: #fff;
  padding: 3vh 5vw;
  border-radius: 10px;
}
.text1 h5 {
  font-family: Merriweather;
  font-size: 1.5vw;
  text-transform: uppercase;
}
.text1 p {
  font-family: Hedvig Letters Sans;
}
#imgdiv1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.text2 h5 {
  font-family: Merriweather;
  font-size: 1.5vw;
  text-transform: uppercase;
}
.text2 p {
  font-family: Hedvig Letters Sans;
}
#imgdiv2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.identity2 {
  font-family: Hedvig Letters Sans;
}
.identity2 h5 {
  font-weight: 900;
}

#page3-button {
  display: block;
  margin: 8vh auto;
  font-family: Hedvig Letters Sans;
  font-size: 1.5vw;
  background-color: rgb(0, 89, 119);
  color: #fff;
  border-radius: 10px;
  padding: 1vw 3vw;
  cursor: pointer;
  text-align: center;
}

/* ******************************************************************* */
#page4 {
  width: 100%;
  height: 100vh;
}
.part-1 {
  height: 60%;
  width: 100%;
  /* background-color: antiquewhite; */
  text-align: center;
  padding: 1vw 25vw;
}
.part-1 h1 {
  font-family: Merriweather;
  font-size: 4.5vw;
  margin-bottom: 6vh;
  margin-top: 6vh;
}
.part-1 h4 {
  font-family: Hedvig Letters Sans;
  margin-bottom: 9vh;
  font-size: 1.5vw;
}
.part-1 button {
  font-family: Hedvig Letters Sans;
  font-size: 1.5vw;
  background-color: rgb(0, 89, 119);
  color: #fff;
  border-radius: 10px;
  padding: 1vw 3vw;
  margin-bottom: 9vh;
  cursor: pointer;
}
.part-2 {
  width: 100%;
  background-color: rgb(9, 143, 56);
  height: 40%;
  padding: 25px 180px 7px 120px;
  color: #c8c8c8;
  display: flex;
}
.footer-left {
  height: 100%;
  width: 40%;
}
.footer-left p {
  font-family: Hedvig Letters Sans;
}
.footer-logo {
  object-fit: cover;
}
#social-icon {
  margin-top: 15vh;
  margin-bottom: 4vh;
}
.footer-right {
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Hedvig Letters Sans;
  color: #fff;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.footer-item a {
  color: #fff;
  text-decoration: none;
}
.footer-item p {
  font-size: 1.5vw;
}
